<% if (theme.twitter.username){ %>
<a href="https://twitter.com/moxie198" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @moxie198</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="widget twitter">
  <h3 class="title"><%= __('tweets') %></h3>
  <ul id="tweets"></ul>
</div>

<script type="text/javascript">
var twitter_stream = ['<%= theme.twitter.username %>', <%= theme.twitter.tweet_count %>, <%= theme.twitter.show_replies %>];
var moment_js_path = '<%- config.root %>js/moment.min.js';
</script>
<script src="<%- config.root %>js/twitter.js"></script>
<% } %>
